@import '../variables';

.button_dark,
.button_yellow {
    cursor: pointer;
    background-color: $dark;
    color: $light;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 72px;
    width: fit-content;
    border: 0;
    border-radius: 4px;
    transition: .2s;

    &:active {
        transform: scale(.95);
    }
}

.button_yellow {
    background-color: $yellow;
    color: $dark;
}

.prev-button,
.next-button {
    height: 70px;
    width: 70px;
    border: 0;
    border-radius: 99px;
    cursor: pointer;
    transition: .2s;

    &:active {
        transform: scale(.9);
    }
}

.prev-button {
    margin: auto 4px auto auto;
    background-color: $yellow;
}

.next-button {
    margin: auto auto auto 4px;
    background-color: $dark;
}

@media (max-width: 600px) {

    .button_dark,
    .button_yellow {
        width: 100%;
        padding: 16px 0;
    }

    .prev-button,
    .next-button {
        height: 48px;
        width: 48px;
    }
}