@import '../variables';

.header_dark,
.header_light {
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_dark {
    background-color: $dark;
    transition: .2s;
    border-bottom: 1px solid $light-text_main;
    z-index: 100;
}

.header_light {
    background-color: $light;
    transition: .2s;
    border-bottom: 1px solid $dark-text_main;
    z-index: 100;
}

.header-container_dark,
.header-container_light {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $maxwidth;
    margin: auto;

    * {
        margin: auto 0;
    }
}

.header-logo_light {
    cursor: pointer;

    path {
        fill: $dark;
        transition: .2s;
    }

    &:hover {
        path {
            transform: .2s;
            fill: $yellow;
            transition: .2s;
        }
    }
}

.header-logo_dark {
    cursor: pointer;

    path {
        fill: $light;
        transition: .2s;
    }

    &:hover {
        transform: .2s;

        path {
            fill: $yellow;
            transition: .2s;
        }
    }
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-link_light,
.nav-link_dark {
    font-size: 16px;
    text-decoration: none;
    margin-left: 30px;
    position: relative;

    &::before {
        content: '/';
        position: absolute;
        left: -16px;
    }

    &:first-child {
        &::before {
            content: '';
        }
    }
}

.nav-link_light {
    color: $dark;
    transition: .2s;

    &::before {
        color: $dark-text_main;
        transition: .2s;
    }
}

.nav-link_dark {
    color: $light;
    transition: .2s;

    &::before {
        color: $light-text_main;
        transition: .2s;
    }
}

.nav-toggle {
    display: none;
    cursor: pointer;
    padding: 2px;
    background-color: transparent;
    border: 0;
}

.responsive-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: calc(100vh - 60px);
    background-color: $light;
    width: 100%;
    top: 90px;
    left: 0;
    padding: 0 20px;
}

.none {
    display: none;
}

.responsive-nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.responsive-nav__link {
    cursor: pointer;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    color: $dark;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $dark-text_main;
        left: 0;
    }
}

@media (max-width: 1226px) {

    .header-container_dark,
    .header-container_light {
        margin: auto 20px;
    }
}

@media (max-width: 600px) {

    .nav {
        display: none;
    }

    .nav-toggle {
        display: block;
    }
}